.grid {
  padding: 0 30px;

  @include desktop {
    padding: 0 50px;
  }
}

.grid-article-list {
  padding: 0 30px;

  @include tablet {
    padding: 0 50px;
  }

  @include desktop-small {
    padding: 0 100px;
  }

  @include desktop {
    padding: 0 200px;
  }
}

.grid-article{
  padding: 10px 10px;

  @include tablet {
    padding: 20px 100px;
  }
  
  @include desktop-small {
    padding: 30px 200px;
  }

  @include desktop-large {
    padding: 30px 300px;

  }
}