.article-preview-title,
.article-title {
  font-family: "Grotesk", sans-serif;
}
.article-preview-description,
.article-text {
  font-family: "RobotoLight", sans-serif;
}
.article-preview-title {
  font-size: 16px;
}
.article-preview-description {
  font-size: 14px;
}
.article-title {
  font-size: 22px;
}
.article-text {
  font-size: 14px;
}
